.homepage{
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    align-items: center;
    height: 100vh;
    min-width: 100%;
    padding: 0 4rem;
    background-color: rgb(249, 250, 250);
    color: rgb(19, 18, 18);

}
.homepage.dark{
  background-color: #222831;
  color: #EEEEEE;
}
.welcome-message{
    margin-top: -5rem;
    width: 50% !important;
}
.welcome-message h1{
    font-size: 5rem;
}

.typewriter {
	width: 21.5ch;
    font-size: 4rem;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid rgb(41, 41, 41);
	animation: cursor 1s step-start infinite, 
    text 5s steps(20) alternate infinite;
}
.typewriter.dark{
  border-right: 4px solid #EEEEEE;
}

.homepage ul{
    width: 40rem !important;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: -2rem;
}
.homepage ul li{
    width: fit-content !important;
    font-size: 1.5rem;
}


.drop-text {
    position: relative;
  }
  
  .drop-text h5 {
    width: fit-content;
    color: #806d6d;
    position: absolute;
    top: -500px;
  }
  .drop-text h5.dark {
    color: #FD7014;

  }
  .drop-text-1{
    animation: drop 1s forwards;
  }
  .drop-text-2{
    animation: drop 1.5s forwards;
  }
  .drop-text-3{
    animation: drop 2s forwards;
  }
  
  @keyframes drop {
    from {
      top: -500px;
      opacity: 0;
    }
    to {
      top: 0; 
      opacity: 1;
    }
  }


@keyframes cursor {
	0%, 100% { 
    border-color: rgb(41, 41, 41); 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 21.5ch; 
  }
}
@media only screen and (max-width: 2000px) {
  .welcome-message h1{
    font-size: 8rem;
  }

  .typewriter {
      font-size: 7rem;
  }
  .homepage ul{
    width: 75rem !important;
  }
  .homepage ul li{
      font-size: 3.5rem;
  }
}
@media only screen and (max-width: 1700px) {
  .welcome-message h1{
    font-size: 7rem;
  }

  .typewriter {
      font-size: 6rem;
  }
  .homepage ul{
    width: 65rem !important;
  }
  .homepage ul li{
      font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1500px) {
  .welcome-message h1{
    font-size: 6rem;
  }

  .typewriter {
      font-size: 5rem;
  }
  .homepage ul{
    width: 55rem !important;
  }
  .homepage ul li{
      font-size: 2rem;
  }
}


