.about-content{
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    height: 90vh !important;
}
.about-content .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    height: 90vh !important;
    overflow-y: scroll;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
}
.about-content .content.dark{
    background-color: #222831;
    color: #EEEEEE;
}
.about-content .content .para{
    overflow-y: scroll;
}
.about-content .content .para::-webkit-scrollbar,.about-content .content::-webkit-scrollbar {
    display: none;
  }

  .about-content .about-heading{
    position: sticky;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #70707020;
  border-right: 2px solid #70707020;
  margin-left: 2rem !important;
  margin-top: -1rem;
}
.about-content .about-heading.dark{
    border-left: 2px solid #393E46;
    border-right: 2px solid #393E46;
}
.about-content .about-heading h1{
  writing-mode: vertical-rl; 
  transform: rotate(180deg);
  text-align: center;
  padding: 0 1rem;
    color: black;
}
.about-content .about-heading h1.dark{
    color: #FD7014;
}
.about-content .about-img-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 4rem;
    background-color: white;
    color: dark;
}
.about-content .about-img-btn.dark{
    background-color: #222831;
    color: #EEEEEE;
}
.video{
    width: 500px !important;
}
.about-btn{
    padding: .3rem 1rem;
    border: none;
    background-color: green;
    color: white;
    border-radius: .3rem;
    cursor: pointer !important;
    transition: .3s ease all;
}
.about-btn.dark{
    background-color: #FD7014;
    color: #EEEEEE;
}
.about-btn:hover{
    background-color: rgb(1, 100, 1);
    color: white;
}
.about-btn.dark:hover{
    background-color: #ff6a07;
    color: #EEEEEE;
}
.annotate-image{
    width: 20rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* margin-top: -2rem; */
}
@media only screen and (max-width: 2000px) {
    .about-content .content{
        padding-left: 4rem;
    }
    .about-content .content .para p{
        font-size: 1.4rem;
    }
    .about-content .about-img-btn{
        
    }
} 

 @media only screen and (max-width: 1500px) {
    .about-content .content{
        padding-left: 4rem;
    }
    .about-content .content .para p{
        font-size: 1.2rem;
    }
    
} 

 @media only screen and (max-width: 1430px) {
    .about-content .content{
        padding-left: 2rem;
    }
    .about-content .content .para p{
        font-size: 1.1rem;
    }
}

.card {
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 105px;
    background-color: #ffffff;
    padding: 5px 15px 20px;
  }
  .card.dark{
    background-color: #393E46;
  }
  .drop_box {
    margin: 5px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
  }
  
  .btn {
    text-decoration: none;
    background-color: #005af0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  .btn.dark{
    background-color: #FD7014;
  }
  .btn:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
  }

  
