*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background: linear-gradient(45deg,#FAF8F9,#FFFFFF,#EEEEEE);
}
a{
  text-decoration: none !important;
}
li{
  list-style: none;
}
.app{
  display: flex;
  margin-left: 5rem;
}

.navigation-btn{
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  font-size: 8rem;
}

.header{
  border-bottom: 2px solid #70707020;
  padding: 1rem;
  width: 100% !important;
  height: fit-content;
  text-align: center;
}


/* .about-content{
  width: 80% !important;
  height: 90vh !important;
  padding: 1rem;
  margin-right: 1rem;
} */



/* .about-content .about-heading{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #70707020;
  border-bottom: 2px solid #70707020;
  margin-right: 0 3rem;
}
.about-content .about-heading h1{
  writing-mode: vertical-rl; 
  transform: rotate(180deg);
  text-align: center;
  padding: 1rem;
} */

/* .about-video{
  display: flex;
  justify-content: center;
  align-items: center;
} */